In [106]:
import numpy as np
import pandas as pd

In [107]:
data=pd.read_csv('qoutes.csv', encoding= 'unicode_escape')

In [108]:
data.head()

,id,quotes,author,category
0,1,Different verticals need different terminal r...,Alex Shultz,Analytics
1,2,Tracking marketing is a cultural thing. Eithe...,Stuart McDonald,Analytics
2,3,Time and money are your scarcest resources. Y...,Matt Trifiro,Analytics
3,4,Have a vision for what you are trying to do. ...,Andrew Chen,Analytics
4,5,Execution is so critical. Sometimes you just ...,Meenal Balar,Analytics

In [109]:
data.head()

,id,quotes,author,category
0,1,Different verticals need different terminal r...,Alex Shultz,Analytics
1,2,Tracking marketing is a cultural thing. Eithe...,Stuart McDonald,Analytics
2,3,Time and money are your scarcest resources. Y...,Matt Trifiro,Analytics
3,4,Have a vision for what you are trying to do. ...,Andrew Chen,Analytics
4,5,Execution is so critical. Sometimes you just ...,Meenal Balar,Analytics

In [110]:
# data['author'] = data['author'].apply(lambda x:x.replace(" ",""))
# data['category'] = data['category'].apply(lambda x:x.replace(" ",""))

In [111]:
data.head()

,id,quotes,author,category
0,1,Different verticals need different terminal r...,Alex Shultz,Analytics
1,2,Tracking marketing is a cultural thing. Eithe...,Stuart McDonald,Analytics
2,3,Time and money are your scarcest resources. Y...,Matt Trifiro,Analytics
3,4,Have a vision for what you are trying to do. ...,Andrew Chen,Analytics
4,5,Execution is so critical. Sometimes you just ...,Meenal Balar,Analytics

In [112]:
data['og_quotes'] = data['quotes']
data['quotes'] = data['quotes'].apply(lambda x:x.replace("\x98",""))
data['quotes'] = data['quotes'].apply(lambda x:x.replace("\x9d",""))

In [113]:
data['quotes'] = data['quotes'].apply(lambda x:x.split())
data['author'] = data['author'].apply(lambda x:x.split())
data['category'] = data['category'].apply(lambda x:x.split())

In [114]:
# data['author'] = data['author'].apply(lambda x:x.replace(" ",""))
# data['category'] = data['category'].apply(lambda x:x.replac e("",""))

In [115]:
data.head()

,id,quotes,author,category,og_quotes
0,1,"[Different, verticals, need, different, termin...","[Alex, Shultz]",[Analytics],Different verticals need different terminal r...
1,2,"[Tracking, marketing, is, a, cultural, thing.,...","[Stuart, McDonald]",[Analytics],Tracking marketing is a cultural thing. Eithe...
2,3,"[Time, and, money, are, your, scarcest, resour...","[Matt, Trifiro]",[Analytics],Time and money are your scarcest resources. Y...
3,4,"[Have, a, vision, for, what, you, are, trying,...","[Andrew, Chen]",[Analytics],Have a vision for what you are trying to do. ...
4,5,"[Execution, is, so, critical., Sometimes, you,...","[Meenal, Balar]",[Analytics],Execution is so critical. Sometimes you just ...

In [116]:
data['tags'] = data['quotes'] + data['author'] + data['category']

In [117]:
data.head()

,id,quotes,author,category,og_quotes,tags
0,1,"[Different, verticals, need, different, termin...","[Alex, Shultz]",[Analytics],Different verticals need different terminal r...,"[Different, verticals, need, different, termin..."
1,2,"[Tracking, marketing, is, a, cultural, thing.,...","[Stuart, McDonald]",[Analytics],Tracking marketing is a cultural thing. Eithe...,"[Tracking, marketing, is, a, cultural, thing.,..."
2,3,"[Time, and, money, are, your, scarcest, resour...","[Matt, Trifiro]",[Analytics],Time and money are your scarcest resources. Y...,"[Time, and, money, are, your, scarcest, resour..."
3,4,"[Have, a, vision, for, what, you, are, trying,...","[Andrew, Chen]",[Analytics],Have a vision for what you are trying to do. ...,"[Have, a, vision, for, what, you, are, trying,..."
4,5,"[Execution, is, so, critical., Sometimes, you,...","[Meenal, Balar]",[Analytics],Execution is so critical. Sometimes you just ...,"[Execution, is, so, critical., Sometimes, you,..."

In [118]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [119]:
data.head()

,id,quotes,author,category,og_quotes,tags
0,1,"[Different, verticals, need, different, termin...","[Alex, Shultz]",[Analytics],Different verticals need different terminal r...,"[Different, verticals, need, different, termin..."
1,2,"[Tracking, marketing, is, a, cultural, thing.,...","[Stuart, McDonald]",[Analytics],Tracking marketing is a cultural thing. Eithe...,"[Tracking, marketing, is, a, cultural, thing.,..."
2,3,"[Time, and, money, are, your, scarcest, resour...","[Matt, Trifiro]",[Analytics],Time and money are your scarcest resources. Y...,"[Time, and, money, are, your, scarcest, resour..."
3,4,"[Have, a, vision, for, what, you, are, trying,...","[Andrew, Chen]",[Analytics],Have a vision for what you are trying to do. ...,"[Have, a, vision, for, what, you, are, trying,..."
4,5,"[Execution, is, so, critical., Sometimes, you,...","[Meenal, Balar]",[Analytics],Execution is so critical. Sometimes you just ...,"[Execution, is, so, critical., Sometimes, you,..."

In [120]:
data['tags'] = data['tags'].apply(lambda x:" ".join(x))

In [121]:
data.head()

,id,quotes,author,category,og_quotes,tags
0,1,"[Different, verticals, need, different, termin...","[Alex, Shultz]",[Analytics],Different verticals need different terminal r...,Different verticals need different terminal re...
1,2,"[Tracking, marketing, is, a, cultural, thing.,...","[Stuart, McDonald]",[Analytics],Tracking marketing is a cultural thing. Eithe...,Tracking marketing is a cultural thing. Either...
2,3,"[Time, and, money, are, your, scarcest, resour...","[Matt, Trifiro]",[Analytics],Time and money are your scarcest resources. Y...,Time and money are your scarcest resources. Yo...
3,4,"[Have, a, vision, for, what, you, are, trying,...","[Andrew, Chen]",[Analytics],Have a vision for what you are trying to do. ...,Have a vision for what you are trying to do. U...
4,5,"[Execution, is, so, critical., Sometimes, you,...","[Meenal, Balar]",[Analytics],Execution is so critical. Sometimes you just ...,Execution is so critical. Sometimes you just n...

In [122]:
df = data.drop(columns=['quotes','author','category'])

In [123]:
df.head()

,id,og_quotes,tags
0,1,Different verticals need different terminal r...,Different verticals need different terminal re...
1,2,Tracking marketing is a cultural thing. Eithe...,Tracking marketing is a cultural thing. Either...
2,3,Time and money are your scarcest resources. Y...,Time and money are your scarcest resources. Yo...
3,4,Have a vision for what you are trying to do. ...,Have a vision for what you are trying to do. U...
4,5,Execution is so critical. Sometimes you just ...,Execution is so critical. Sometimes you just n...

In [124]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [125]:
vector = cv.fit_transform(df['tags']).toarray()

In [126]:
vector.shape

(83, 947)

In [127]:
from sklearn.metrics.pairwise import cosine_similarity

In [128]:
similarity = cosine_similarity(vector)

In [129]:
similarity

array([[1.        , 0.08183171, 0.025     , ..., 0.        , 0.        ,
        0.        ],
       [0.08183171, 1.        , 0.13093073, ..., 0.06052275, 0.05292561,
        0.        ],
       [0.025     , 0.13093073, 1.        , ..., 0.        , 0.09701425,
        0.        ],
       ...,
       [0.        , 0.06052275, 0.        , ..., 1.        , 0.40360368,
        0.43852901],
       [0.        , 0.05292561, 0.09701425, ..., 0.40360368, 1.        ,
        0.38348249],
       [0.        , 0.        , 0.        , ..., 0.43852901, 0.38348249,
        1.        ]])

In [133]:
def recommend(quotes):
    index = df[df['og_quotes'] == quotes].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(df.iloc[i[0]].og_quotes)

In [134]:
data['og_quotes'][0]

' Different verticals need different terminal retention rates for them to have successful businesses. If you  re on e-commerce and you  re retaining on a monthly active basis, like 20 to 30% of your users, you  re going to do very well. If you  re on social media, and the first batch of people signing up to your product are not like, 80% retained, you  re not going to have a massive social media site. [...] What you need to do is have the tools to think,  \x98who out there is comparable   and how you can look at it and say,  \x98am I anywhere close to what real success looks like in this vertical?   \x9d'

In [135]:
recommend(' Different verticals need different terminal retention rates for them to have successful businesses. If you  re on e-commerce and you  re retaining on a monthly active basis, like 20 to 30% of your users, you  re going to do very well. If you  re on social media, and the first batch of people signing up to your product are not like, 80% retained, you  re not going to have a massive social media site. [...] What you need to do is have the tools to think,  \x98who out there is comparable   and how you can look at it and say,  \x98am I anywhere close to what real success looks like in this vertical?   \x9d')

 You don  t need to learn what customers say they want; you need to learn how customers behave and what they need. In other words, focus on their problem, not their suggested solution. 
 For every $20 you spend on web analytics tools, you should spend $80 on the brains to make sense of the data. 
 In a marketing analytics worldview, companies must have an accounting of and insight into all of their marketing programs in all of their channels, including web/browser, mobile apps, TV/video, social, paid media, field, print, outdoor and others. If your organization is still stuck in the web analytics mindset, it is time to reinvent your analytics practice, leveraging all of the available marketing analytics tools to make faster and better decisions and drive your business. 
 The problem with Silicon Valley is when you build an app you are expected to make the app go viral and reach millions of people. This is the worst way to think about it   it  s much better to get 100 people to love you. There was no way we could get 1M people on Airbnb, but we could get 100 people to love us. This is when we decided to do things that wouldn  t scale. Getting 100 people to love you is hard   getting people to like you is much easier than getting people to love you. 
 When you are dealing with a torrent of data, being able to construct different levels of aggregation is really important, because you want to make sure you  ve used your software intelligently with respect to that large amount of data, and bring to bear the contextual data you need to answer the question at the level of aggregation that you need to answer it. 

In [136]:
import pickle

In [137]:
pickle.dump(df,open('quotes_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))